@model HelperMethods.Models.Person

@{
    ViewBag.Title = "Create Person";
    Html.EnableClientValidation(false);
}

<!DOCTYPE html>

<h2>Create Person</h2>

@*@using (Html.BeginForm("CreatePerson", "Home",
    new { id = "MyIdValue"}, FormMethod.Post,
    new { @class = "personClass", data_formType="person"}))*@
@using (Html.BeginRouteForm("FormRoute", new { }, FormMethod.Post,
    new { @class = "personClass", data_formType="person"}))
{ 
    <div class="dataElem">
        <label>PersonId</label>
        @*@Html.TextBox("PersonId", @Model.PersonId)*@
        @*@Html.TextBox("PersonId")*@
        @*@Html.TextBoxFor(x => x.PersonId)*@
        @Html.Editor("PersonId")
    </div>
    <div class="dataElem">
        <label>First Name</label>
        @*@Html.TextBox("FirstName", @Model.FirstName)*@
        @*@Html.TextBox("FirstName")*@
        @Html.Editor("FirstName")
    </div>
    <div class="dataElem">
        <label>Last Name</label>
        @*@Html.TextBox("LastName", @Model.LastName)*@
        @*@Html.TextBox("LastName")*@
        @Html.EditorFor(x => x.LastName)
    </div>
    <div class="dataElem">
        <label>Birth Date</label>
        @Html.EditorFor(x => x.BirthDate)
    </div>
    <div class="dataElem">
        <label>Role</label>
        @Html.DropDownListFor(x => x.Role,
        new SelectList(Enum.GetNames(typeof(HelperMethods.Models.Role))))
    </div>
    <input type="Submit" value="Submit" />
}
